@inject IJSRuntime JSRuntime

<select @bind="SelectedUser" @bind:event="oninput" @onchange="HandleSelectionChanged">
    @foreach (var user in users)
    {
        <option value="@user.Id">@user.Name</option>
    }
</select>

@code {

    [Parameter]
    public string SelectedUser { get; set; }

    [Parameter]
    public EventCallback<string> OnUserChanged { get; set; }


    private List<(string Name, string Id)> users = new List<(string Name, string Id)> { 
        ("Jason Klinke", "14274025-2979-4c7f-8cf0-58a00b6831d5"), 
        ("Joel Murphy", "d8c6762f-bc7c-4bec-8879-6e14f5ca4836"), 
        ("Mark DeGeorge", "c8fa045a-bc28-4a20-90ba-2025889f3376") 
    }; // Add as many users as you want.

    private async Task HandleSelectionChanged(ChangeEventArgs e)
    {
        SelectedUser = e.Value.ToString();

        await JSRuntime.InvokeVoidAsync("blazorExtensions.saveUserSelection", SelectedUser);

        await OnUserChanged.InvokeAsync(SelectedUser);
    }
}

